<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
    <style>
      #categoryForm {
        display: none;
      }
    </style>
</head>
<body>
    <h2>Categories</h2>

    <% categories.forEach(category => { %>
      <li> <a href=""> <%= category.name %></a></li>
    <% }); %>








    

    <button id="toggleFormButton" >+</button>
<form id="categoryForm" action="/add-categories" method="post" onsubmit="return validateForm()">
  <label for="name">Enter a category</label>
  <input type="text" name="name" id="name" required>
  <button type="submit">Add</button>
</form>

    <script>
      const toggleFormButton = document.getElementById("toggleFormButton");
      const categoryForm = document.getElementById("categoryForm");
      toggleFormButton.addEventListener("click",function(){
        if(categoryForm.style.display==="none"||categoryForm.style.display===""){
          categoryForm.style.display="block";
        } else{
          categoryForm.style.display="none";
        }
      })
   function validateForm() {
    const name = document.getElementById('name').value.trim();
    if (!name) {
      alert('Category name cannot be empty');
      return false;
    }
    return true;
  }
    </script>
</body>
</html>