<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ERROR 404</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <!-- 404 Heading -->
        <h1 class="title is-1">404</h1>
        <!-- Error Message -->
        <p class="subtitle is-4">THIS IS NOT THE WEB PAGE YOU ARE LOOKING FOR</p>
        <!-- Home Link -->
        <a href="/Home" class="button is-danger is-medium">Go Back to Home Page</a>
      </div>
    </div>
  </section>
</body>
</html>