<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  
</head>
<body>
        <nav class="navbar is-flex is-justify-content-flex-end" role="navigation" aria-label="main navigation">
          <%- include('./partails/profile')%>
        </nav>
        
           
    <%- include('./partails/sideBar')%>
    <%- include('./partails/addGames')%>
    <p>if you wana be a vip member <a href="/memberShip">go here</a></p>
</body>
</html>