<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
      <form action="/log-in" method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" ><br><br>
        
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="*********"><br><br>

          <button type="submit">log in</button>
      </form>
      <p>Don't have an accout? <a href="/sign-up">sign UP</a></p>
</body>
</html>